body {
	border-top: 0px;
	border-right: 450px solid #CFCFCF;
	border-bottom: 50px solid #CFCFCF;
	border-left: 450px solid #CFCFCF;
	}

h1 {	
	color: black;
	width: 987px;
	height: 50px;
	text-align: center;
	padding-top: 20px;
	font-family: verdana;
	font-weight: bold;
	font-size: 25px;
	}
	
img { 
	height: 250px;
	margin: 0px 305px;
	padding-bottom: 15px;
	} 

span {
	padding-left: 150px;
	font-family: verdana;
	font-size: 18px;
	margin-top: 10px;
	}

.bottom_line {
	font-family: verdana;
	font-size: 18px;
	border-bottom: 2px solid black;
	margin-left: 140px;
	margin-right: 113px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 280px;
	}

.why  {
	font-family: verdana;
	font-size: 18px;
	margin-left: 140px;
	margin-right: 113px;
	padding-left: 10px;
	padding-right: 280px;
}

.call 	{
	font-family: verdana;
	font-size: 18px;
	margin-left: 140px;
	margin-right: 113px;
	padding-left: 10px;
	padding-right: 280px;
	}

.questions p {
	font-family: verdana;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 140px;
	padding-left: 10px;
	}

ul 	{
	padding-left: 40px;
	font-family: verdana;
	font-size: 18px;
	padding-bottom: 30px;
	border-bottom: 2px solid black;
	margin-left: 140px;
	width: 700px;
	}

form {
	padding-left: 150px;
	padding-bottom: 100px;
	}
